<html lang="en">
<head>
    <title>Wrong file uploaded</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script.js"></script>
    <script src="https://kit.fontawesome.com/2c901e3f16.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Microsoft Teams attendance simplifier</h1>
    <p class="upload">This file type not supported</p>
    <p>Only .csv file allwoed</p>
    <a href="/"><button class="button">Simplify another file <i class="fas fa-redo"></i></button></a>
    <hr>
    <footer>
        <p>Developed by <i>RAVI UJJWAL</i> <a href="https://www.linkedin.com/in/ravi-ujjwal/" target="_blank"><button class="button">Linked In <i class="fab fa-linkedin"></i></button></a> <a href="https://www.instagram.com/raviujjwal2900/" target="_blank"><button class="button">Instagram <i class="fab fa-instagram"></i></button></a></p>
        <p>Contribute to the code at <a href="https://github.com/ujjwalravi/msteams-simplify" target="_blank"><button class="button">GitHub <i class="fab fa-github"></i> </button></a></p>
    </footer>
</body>
</html>